<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <title>Bill List: Create</title> 
    <meta charset="utf-8" /> 
</head> 
<body> 
    <form action="/bill-divider/api/create" method="POST"> 
    <div> 
        <label for="studentName">Name of the resource:</label> 
        <input type="text" id="resource" name="resource"> 
        <label for="studentName">Price:</label> 
        <input type="text" id="price" name="price"> 
    </div> 
    <div class="button"> 
        <button type="submit">Add</button> 
    </div> 
    </form> 
</body> 
</html>
